.table-title {
    color: orangered;
}

body {
    background-image: url("../images/directory.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

table {
    background-color: #F3F3F5;
}

th {
    background-color: rgb(53, 147, 175);
    font-weight: bold;
}